<!doctype html>
<html>
    <head>
        <title>OmNomNom Foods Order System</title>
        <style type="text/css">
            body {
                font-family:sans-serif;
            }
            table {
                border:solid 1px #aaa;
                width:100%;
            }
            td,th {
                padding:10px;
                border:solid 1px #555;
            }
            input[type=submit] {
                border:solid 1px #555;
                background-color:#ddd;
                font-size:1em;
            }
        </style>
    </head>
    <body>
      <%= yield %>

        <p style="text-align:center;">A sample application brought to you by <a href="https://developers.messagebird.com/">MessageBird</a> :)</p>
    </body>
</html>
